<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список задач с таймерами обратного отсчета</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style type="text/css">
        .task {
            margin-bottom: 15px;
            color: #ffffff;
        }

        .task div {
            padding: 15px;
        }

        .expiration {
            border: 1px solid red;
        }

        button.more {
            position: relative;
            outline: none;
        }

        button.more::before {
            content: attr(data-desc);
            position: absolute;
            left: 0;
            margin-left: -85px;
            margin-top: 10px;
            width: 250px;
            top: 100%;
            background: #cccccc;
            color: #333;
            z-index: 2;
            border-radius: 5px;
            padding: 5px;
            font-size: 13px;
            display: none;
        }

        button.more::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -10px;
            border: 10px solid transparent;
            border-bottom: 10px solid #cccccc;
            margin-left: -10px;
            display: none;
        }

        button.more:hover:after,
        button.more:hover:before {
            display: block;
        }

        button.more[data-desc='']:before,
        button.more[data-desc='']:after {
            display: none !important;
        }

    </style>
</head>
<body ng-app="dashboard">
<div class="container-fluid" ng-controller="main">
    <div class="col-md-6">
        <h3 class="text-center">Добавить новую задачу</h3>

        <div class="alert alert-danger" ng-show="add_form.date_err">
            Время и дата окончания задачи не может быть меньше текущего
        </div>

        <form ng-submit="add_form.$valid && actions.add()" name="add_form">
            <div class="form-group" ng-class="{'has-error': (!add_form.title.$valid && add_form.title.$touched)}">
                <label for="title" class="control-label">Заголовок</label>
                <input type="text" required ng-model="form.title" class="form-control" id="title" name="title"
                       placeholder="Введите заголовок задания">
            </div>
            <div class="form-group">
                <label for="description">Описание</label>
                <textarea class="form-control" ng-model="form.description" id="description" name="description"
                          placeholder="Введите описание задания"></textarea>
            </div>
            <div class="form-group" ng-class="{'has-error':add_form.date_err}">
                <label for="end_date" class="control-label">Дата окончания</label>
                <input type="date" required ng-model="form.date" class="form-control" name="date" id="end_date"
                       placeholder="Введите дату">
            </div>
            <div class="form-group" ng-class="{'has-error':add_form.date_err}">
                <label for="end_time" class="control-label">Время окончания</label>
                <input type="time" required ng-model="form.time" class="form-control" name="time" id="end_time"
                       placeholder="Введите время">
            </div>
            <button type="submit" class="btn btn-success">Добавить</button>
        </form>
    </div>
    <div class="col-md-6">
        <h3 class="text-center" ng-show="!dashboard.length">Задач не найдено</h3>

        <h3 class="text-center" ng-show="!!dashboard.length">Найдено задач: {{dashboard.length}}</h3>

        <div class="row label-primary task" ng-class="{expiration: down_times[task.id].expiration}"
             ng-repeat="task in dashboard track by task.id">
            <div class="col-md-2">
                <span class="label label-info">{{down_times[task.id].remainder}}</span>
            </div>
            <div class="col-md-4">
                {{task.title}}
            </div>
            <div class="col-md-2">
                <button type="button" data-desc="{{task.description || 'Описание не указано'}}" class="btn btn-default btn-xs more">Подробнее
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default btn-xs" ng-click="actions.add_time(task.id)">+10 мин.
                </button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-default btn-xs" ng-click="actions.remove(task.id)">Удалить</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>